<a href="https://colab.research.google.com/github/j03hanafi/bigdata-unand/blob/main/KlasifikasiNaiveBayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import library
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import preprocessing

In [2]:
# Read Data set
df = pd.read_csv('bank.csv', sep=';')
df.head()

   age          job  marital  education  ... pdays  previous poutcome   y
0   30   unemployed  married    primary  ...    -1         0  unknown  no
1   33     services  married  secondary  ...   339         4  failure  no
2   35   management   single   tertiary  ...   330         1  failure  no
3   30   management  married   tertiary  ...    -1         0  unknown  no
4   59  blue-collar  married  secondary  ...    -1         0  unknown  no

[5 rows x 17 columns]

In [4]:
# Encoding Label
encoder = preprocessing.LabelEncoder()

df['age'] = encoder.fit_transform(df['age'])
df['job'] = encoder.fit_transform(df['job'])
df['marital'] = encoder.fit_transform(df['marital'])
df['education'] = encoder.fit_transform(df['education'])
df['default'] = encoder.fit_transform(df['default'])
df['balance'] = encoder.fit_transform(df['balance'])
df['housing'] = encoder.fit_transform(df['housing'])
df['loan'] = encoder.fit_transform(df['loan'])
df['contact'] = encoder.fit_transform(df['contact'])
df['day'] = encoder.fit_transform(df['day'])
df['month'] = encoder.fit_transform(df['month'])
df['duration'] = encoder.fit_transform(df['duration'])
df['campaign'] = encoder.fit_transform(df['campaign'])
df['pdays'] = encoder.fit_transform(df['pdays'])
df['previous'] = encoder.fit_transform(df['previous'])
df['poutcome'] = encoder.fit_transform(df['poutcome'])
df['y'] = encoder.fit_transform(df['y'])

In [5]:
scaler = preprocessing.MinMaxScaler()
df[['pdays', 'balance']] = scaler.fit_transform(df[['pdays','balance']])

In [6]:
feature_label = ['age','job','marital',
                 'education','default','balance',
                 'housing','loan','contact',
                 'day','month','duration',
                 'campaign','pdays','previous',
                 'poutcome']
label = ['y']

In [7]:
features = df[feature_label]
label = df['y']
features

      age  job  marital  education  ...  campaign     pdays  previous  poutcome
0      11   10        1          0  ...         0  0.000000         0         3
1      14    7        1          1  ...         0  0.783505         4         0
2      16    4        2          2  ...         0  0.752577         1         0
3      11    4        1          2  ...         3  0.000000         0         3
4      40    1        1          1  ...         0  0.000000         0         3
...   ...  ...      ...        ...  ...       ...       ...       ...       ...
4516   14    7        1          1  ...         4  0.000000         0         3
4517   38    6        1          2  ...         0  0.000000         0         3
4518   38    9        1          1  ...        10  0.000000         0         3
4519    9    1        1          1  ...         3  0.481100         3         1
4520   25    2        2          2  ...         1  0.553265         7         1

[4521 rows x 16 columns]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(features, label, test_size=0.2)

In [9]:
# Fungsi Naive Bayes Classification dan Training Dataset
simple_distribution = GaussianNB()
simple_distribution.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [10]:
y_pred = simple_distribution.predict(X_test)

In [11]:
# Confussion Matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[712, 101],
       [ 59,  33]])

In [12]:
# Hitung akurasi
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8232044198895028

In [13]:
from sklearn.metrics import precision_score, recall_score
print(recall_score(y_test, y_pred))
print(precision_score(y_test, y_pred))

0.358695652173913
0.2462686567164179

In [14]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred)

0.29203539823008845